<html>
    <body>
        <h1>{{title}}</h1>
        <div id="body">
            <p>Javascript: <div>{{javascript}}</div></p>
            <p>Data: <div id="response"></div> </p>
        </div>
    </body>
</html>

<script src="{{javascript}}"></script>
